footer{
  background: #b3b3b3; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #b3b3b3 0%, #818181 86%, #757575 100%, #5c5c5c 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #b3b3b3 0%,#818181 86%,#757575 100%,#5c5c5c 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #b3b3b3 0%,#818181 86%,#757575 100%,#5c5c5c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3b3b3', endColorstr='#5c5c5c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

header{
  background-image: url("../images/port-dinan_effet1.png");
  background-position: center;
  background-size: cover;
}

rien{}
header h1 img{
  max-width: 250px;
}

header nav .btn{
  /*background-color: white;*/
  border-radius: 0;
  color: #000;
}

#credit_photo
{
  font-size: 10px;
}

#slider img{

}

h5
{
  font-weight: bold;
}

#content div>a>img+h2{
  color: #FFF;
  /*font-weight: bold;*/
  position: absolute;
  padding: 2px 2px 2px 5px;
  bottom: 15%;
  width: calc(100% - 45px);
  background-color: rgba(0, 0, 0, 0.5);
}

#content div.accent-1>a>img+h2{
  background-color: rgba(201, 40, 39,0.5);
}
#content div.accent-2>a>img+h2{
  background-color: rgba(54, 135, 199, 0.5);
}
#content div.accent-3>a>img+h2{
  background-color: rgba(245, 189, 62, 0.5);
}
#content div.accent-4>a>img+h2{
  background-color: rgba(104, 162, 38, 0.5);
}
#content div.accent-5>a>img+h2{
  background-color: rgba(153, 93, 146, 0.5);
}

#content .news{
  border: 1px solid lightgrey;
  padding: 0 10px;
}
#content .news ul{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#list_news h3{
  margin-top: 0;
}
#list_news img{
  height: 50px;
  width: 50px;
}

footer img{
  height: 40px;
}

.breadcrumb{
  font-size: 12px;
}

/* Utils */

.vertical-align-item{ /* Mettre des commentaires <!-- --> entre les items */
	display: inline-block;
	vertical-align: middle;
	float: none;
}


.no-gutters > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.accent{

}
.accent::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 7.5px;
  height: 100%;
}
div.accent::before{
  width: 15px;
  left: 15px;
}
div.accent{
  padding-left: 30px;
}
.btn.accent:hover{
  color: white;
}

.accent-1::before, .btn.accent-1:hover{
  /*background-color: rgb(60, 60, 60);*/
  background-color: #ca2827;
}
.accent-2::before, .btn.accent-2:hover{
  /*background-color: rgb(80, 80, 80);*/
  background-color: #3687c7;
}
.accent-3::before, .btn.accent-3:hover{
  /*background-color: rgb(100, 100, 100);*/
  background-color: #f5bd3e;
}
.accent-4::before, .btn.accent-4:hover{
  /*background-color: rgb(120, 120, 120);*/
  background-color: #68a226;
}
.accent-5::before, .btn.accent-5:hover{
  /*background-color: rgb(140, 140, 140);*/
  background-color: #995d92;
}

@media (max-width: 992px) { /* equivalent boostrap col-sm- et inferieurs */
	.text-left-on-sm{ /* liste régions */
		text-align: left !important;
	}
}

/* Css pour Embed Google Map responsive*/
.map_responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map_responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

/* bootstrap 5 col utils */
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

/*diminution du titres des vignettes sur portable*/
@media (max-width:480px){
  h2{
    font-size: 15px;
  }
}





/*-------------------------
CSS pour lapage doc.php 
-------------------------*/

/*Déffinition des bloc*/

#logement {
  position: relative;
margin: 0px auto;
width: 0px auto;
background: #fff;
border-radius: 5px;
box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
z-index: 10;
height:110px;
}

#embauche {
  position: relative;
margin: 0px auto;
width: 0px auto;
background: #fff;
border-radius: 5px;
box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
z-index: 10;
height:110px;
}

#apprentissage {
  position: relative;
margin: 0px auto;
width: 0px auto;
background: #fff;
border-radius: 5px;
box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
z-index: 10;
height:110px; 
}

#mobilité {
 position: relative;
margin: 0px auto;
width: 0px auto;
background: #fff;
border-radius: 5px;
box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
z-index: 10;
height:110px;
}
 
 /*-------------------------------------------
 Configuration des rubans pour les titre h4 
 -------------------------------------------*/

.ruban {
background: #3687c7;
height: 30px;
width:260px;
position: relative;
left:-15px;
top: 20px;
/*float: left;*/
box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
z-index: 100;
}
  
.ruban h4 {
font-size: 20px;
color: #fff;
text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
text-align: center;
margin:0px auto;
padding-top: 5px;
}
 
.ruban_gauche {
/*border-color: transparent #133147 transparent transparent;*/
border-color: transparent #255C87 transparent transparent;
border-style:solid;
border-width:15px;
height:0px;
width:0px;
position: relative;
left: -30px;
top: 0px;
z-index: -1;    
}


/*mise en pages des liste*/

#lienpdf{

  margin: 20px;
}

li { 
 list-style-type: none;
}

.check_cond li
{
  list-style-type: circle;
}

.nom_part
{
  list-style-type: circle;
  text-decoration: underline;
}

.detail_part
{
  list-style: none;
  font-style: oblique;
}





/*mise en pages des Liens fichier pdf*/

/*lien pdf aide logemant*/
a.pdf1l {
  text-decoration: none;
  color: black;
  border-radius: 0px 2px 0px 2px;
  padding: 2px;
  background-color:transparent; 
  margin: 5px;
}

a.pdf1l:visited {
}

a.pdf1l:hover{
  color:#ffffff;
  background-color:#3687c7;
}

a.pdf1l:active{
  color:#ffffff;
  background-color:#2F76AD; 

}

a.pdf2l {
  text-decoration: none;
  color: black;
  border-radius: 0px 2px 0px 2px;
  padding: 2px;
  background-color:transparent; 
  margin: 5px;
}

a.pdf2l:visited {
}

a.pdf2l:hover{
  color:#ffffff;
  background-color:#3687c7; 
}

a.pdf2l:active{
  color:#ffffff;
  background-color:#2F76AD;
}

/*lien pdf aide embauche*/

a.pdf1e {
  text-decoration: none;
  color: black;
  border-radius: 0px 2px 0px 2px;
  padding: 2px;
  background-color:transparent; 
  margin: 5px;

}

a.pdf1e:visited {
}

a.pdf1e:hover{
  color:#ffffff;
  background-color:#3687c7;
}

a.pdf1e:active{
  color:#ffffff;
  background-color:#2F76AD;
}

a.pdf2e {
  text-decoration: none;
  color: black;
  border-radius: 0px 2px 0px 2px;
  padding: 2px;
  background-color:transparent; 
  margin: 5px;
}

a.pdf2e:visited {
}

a.pdf2e:hover{
  color:#ffffff;
  background-color:#3687c7;
}

a.pdf2e:active{
  color:#ffffff;
  background-color:#2F76AD; 
}

/*lien pdf aide apprentissage*/

a.pdf1a {
  text-decoration: none;
  color: black;
  border-radius: 0px 2px 0px 2px;
  padding: 2px;
  background-color:transparent; 
  margin: 5px;
}

a.pdf1a:visited {
}

a.pdf1a:hover{
  color:#ffffff;
  background-color:#3687c7;
}

a.pdf1a:active{
  color:#ffffff;
  background-color:#2F76AD;
}

a.pdf2a {
  text-decoration: none;
  color: black;
  border-radius: 0px 2px 0px 2px;
  padding: 2px;
  background-color:transparent;
  margin: 5px; 
}

a.pdf2a:visited {
}

a.pdf2a:hover{
  color:#ffffff;
  background-color:#3687c7;
}

a.pdf2a:active{
  color:#ffffff;
  background-color:#2F76AD; 
}

/*lien pdf aide mobilité*/

a.pdf1m {
  text-decoration: none;
  color: black;
  border-radius: 0px 2px 0px 2px;
  padding: 2px;
  background-color:transparent; 
  margin: 5px;
}

a.pdf1m:visited {  
}

a.pdf1m:hover{
  color:#ffffff;
  background-color:#3687c7;
}

a.pdf1m:active{
  color:#ffffff;
  background-color:#2F76AD;
}

a.pdf2m {
  text-decoration: none;
  color: black;
  border-radius: 0px 2px 0px 2px;
  padding: 2px;
  background-color:transparent;
  margin: 5px;
}

a.pdf2m:visited {
}

a.pdf2m:hover{
  color:#ffffff;
  background-color:#3990D4;
}

a.pdf2m:active{
  color:#ffffff;
  background-color:#2F76AD;
}

